body {
       background-color: rgba(57, 196, 154, 0.781);
       background:linear-gradient(180deg, rgba(38, 202, 202, 0.7) 0%, rgba(122, 206, 43, 0.7) 100%);
     }

h1 {
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-size: 72px;
         color: rgb(214, 85, 96);
         font-style: italic;
         font-weight: bold;
         margin-top: 50px;
         margin-left: 250px;
   }
h2 {
      font-size: 36px;
      color: white;
      font-weight: bold;
      margin-left: 250px;
   }
p {
     font-size: 50px;
     color: red ; 
     margin-left: 250px;
  }
#nav_list {
             position: fixed;
             /* z-index: 0;*/
              /*display: none;*/

          }
button{
   display: none;
}
section {
   position: relative;
   min-height: 50vh;
   margin-left: 250px;
}
.your-active-class {
   background-color: grey;
   opacity: 0.6;
}